<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.practicaparcial_rc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity_Datos"></activity>
        <activity android:name=".Activity_Puntuacion" />
        <activity
            android:name=".Agregar_User"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".Activity_Juego"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>